version: '3.1'

services:
  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules

  postgresql:
    image: postgres:18-alpine
    ports:
      - "8081:5432"

    env_file:
      - ./backend/.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U Goku -d FluencyAI"]
      interval: 5s
      timeout: 15s
      retries: 5

    volumes:
      - db-data:/var/lib/postgresql

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    
    depends_on:
      postgresql:
        condition: service_healthy

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    hostname: my-rabbit 
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: kalo
      RABBITMQ_DEFAULT_PASS: kalo

volumes:
  db-data:
  rabbitmq_data: